<template>
   <div class="row">
      <ChartsCustomerFlow/>
      <ChartsMobileBrowser/>
      <ChartsDesktopBrowser/>
      <ChartsTypeCustomerFlow/>
   </div>
</template>

<script>

import ChartsCustomerFlow from "@/components/ChartsCustomerFlow.vue";
import ChartsMobileBrowser from "@/components/ChartsMobileBrowser.vue";
import ChartsDesktopBrowser from "@/components/ChartsDesktopBrowser.vue";
import ChartsTypeCustomerFlow from "@/components/ChartsTypeCustomerFlow.vue";

export default {
    name: "ChartsTradeStatistics",
    components: {ChartsTypeCustomerFlow, ChartsDesktopBrowser, ChartsMobileBrowser, ChartsCustomerFlow}
}
</script>

<style scoped>

</style>
