<template>
    <div class="row">
        <ChartsPageChild1/>
        <ChartsPageChild2/>
        <ChartsPageChild3/>
    </div>
</template>

<script>
import ChartsPageChild1 from "@/components/ChartsPageChild1.vue";
import ChartsPageChild2 from "@/components/ChartsPageChild2.vue";
import ChartsPageChild3 from "@/components/ChartsPageChild3.vue";

export default {
    name: "ChartsPage",
    components: {ChartsPageChild3, ChartsPageChild2, ChartsPageChild1}
}
</script>

<style>
#horizontalBar, #bar, .verticalBar {
    border: 1px solid black;
    border-radius: 10px;
}

.title {
    color: #4F4F4F;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
</style>
