<template>
    <ChartsPaymentType/>
</template>

<script>
import ChartsPaymentType from "@/components/ChartsPaymentType.vue";

export default {
    name: "DashboardPage",
    components: {ChartsPaymentType}
}
</script>

<style scoped>

</style>
