<template>
    <ConnectWithClientFormModal v-model:show="showForm" :hideFormModal="hideFormModal"/>
    <ConnectionWithClientHistoryModal v-model:show="showHistory" :hideHistoryModal="hideHistoryModal"/>
    <!-- TABLE START -->
    <div>
        <table class="table table-hover all-customer-table">
            <thead>
            <tr class="table-head">
                <th scope="col">#</th>
                <th scope="col">Kompaniya nomi</th>
                <th scope="col">F. I. Sh.</th>
                <th scope="col">Telefon raqam</th>
                <th scope="col">Ro'yxatdan o'tgan sana</th>
                <th scope="col">Bog'lanish</th>
                <th scope="col">Aloqa turi</th>
                <th scope="col" colspan="2" class="text-center">Harakat</th>
            </tr>
            </thead>
            <tbody class="table-danger">
            <tr>
                <th scope="row">1</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Akmal Kadirov</td>
                <td>+998 98 123-45-67</td>
                <td>05.10.2022</td>
                <td><i class="fa-solid fa-plus" @click="showFormModal"></i></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Kamron Turdiyev</td>
                <td>+998 98 123-45-67</td>
                <td>17.12.2022</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Izzatillo Mamajonov</td>
                <td>+998 98 123-45-67</td>
                <td>02.03.2023</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Davron Xoshimov</td>
                <td>+998 98 123-45-67</td>
                <td>02.03.2023</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            <tbody class="table-called">
            <tr>
                <th scope="row">5</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Karim Xakimov</td>
                <td>+998 98 123-45-67</td>
                <td>31.12.2021</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td>Telefon</td>
                <td @click="showHistoryModal">Batafsil</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Mirshod Istamov</td>
                <td>+998 98 123-45-67</td>
                <td>04.04.2022</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td>Telefon</td>
                <td>Batafsil</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Anvar Yusupov</td>
                <td>+998 98 123-45-67</td>
                <td>09.05.2022</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td>Telegram</td>
                <td>Batafsil</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Davronbek Saidov</td>
                <td>+998 98 123-45-67</td>
                <td>14.02.2023</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td>Telefon</td>
                <td>Batafsil</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Sirojbek Musurmonqulov</td>
                <td>+998 98 123-45-67</td>
                <td>31.01.2023</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td>Telegram</td>
                <td>Batafsil</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Oziq-ovqat MCHJ</td>
                <td>Ulug'bek Qarshiyev</td>
                <td>+998 98 123-45-67</td>
                <td>08.03.2023</td>
                <td><i class="fa-solid fa-plus"></i></td>
                <td>Telegram</td>
                <td>Batafsil</td>
                <td><i class="fa-regular fa-trash-can"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- TABLE END -->
</template>

<script>
import ConnectWithClientFormModal from "@/components/ConnectWithClientFormModal.vue";
import ConnectionWithClientHistoryModal from "@/components/ConnectionWithClientHistoryModal.vue";

export default {
    name: "HomePage",
    components: {ConnectionWithClientHistoryModal, ConnectWithClientFormModal},
    data() {
        return {
            showForm: false,
            showHistory: false
        }
    },
    methods: {
        showFormModal() {
            this.showForm = true
        },
        hideFormModal() {
            this.showForm = false
        },
        showHistoryModal() {
            this.showHistory = true
        },
        hideHistoryModal() {
            this.showHistory = false
        }
    }
}
</script>

<style scoped>
.table-called {
    background-color: rgb(136, 228, 190);
}

.table-head th {
    padding: 20px 5px;
    border-top: 3px solid #d0d0d0;
}

.table th:first-child {
    text-align: center;
}

.fa-plus {
    margin-left: 25%;
    color: #a400a7;
    user-select: none;
    cursor: pointer;
    padding: 0 5px;
}

.fa-trash-can {
    color: rgb(255, 0, 0);
    cursor: pointer;
    padding: 0 5px;
}

.all-customer-table td:nth-child(7) {
    color: #a400a7;
}

.all-customer-table td:nth-child(8) {
    color: #005038;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.all-customer-table td:nth-child(8):hover {
    text-decoration: underline;
    color: #00412d;
}
</style>
