<template>
    <!-- TABLE START -->
    <div>
        <table class="table table-hover all-customer-table">
            <thead>
            <tr class="table-head">
                <th scope="col">#</th>
                <th scope="col">Mijozlar nomi</th>
                <th scope="col">Telefon raqami</th>
                <th scope="col">Pochta</th>
                <th scope="col">Ro'yxatdan o'tgan sana</th>
                <th scope="col">Pul to'lagan</th>
                <th scope="col">Ishlatishni to'xtatgan</th>
                <th scope="col" colspan="2" class="text-center">Harakat</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Akmal Kadirov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Kamron Turdiyev</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Izzatillo Mamajonov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Davron Hoshimov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
            <tbody class="table-called">
            <tr>
                <th scope="row">5</th>
                <td>Sharifjon Hoshimov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Nizomjon Mansurov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Azimjon Murodov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Mirshod Istamov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Karim Xakimov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Anvar Yusupov</td>
                <td>+998 98 123-45-67</td>
                <td>aa@gmail.com</td>
                <td>05.10.2022</td>
                <td>12 marta</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- TABLE END -->
</template>

<script>

export default {
    name: "StatisticPage"
}
</script>

<style scoped>
.table-head th {
    padding: 20px 5px;
    border-top: 3px solid #d0d0d0;
}

.table th:first-child {
    text-align: center;
}
</style>
