<template>
    <div class="col-md-5 horizontalBar mt-2">
        <div class="title fw-bold mb-2">Mijozlar foizda</div>
        <canvas id="horizontalBar" width="106" height="100"></canvas>
    </div>
</template>

<script>
import Chart from 'chart.js/auto';

export default {
    name: "ChartsPageChild2",
    mounted() {
        const horizontalBar = document.getElementById('horizontalBar')
        new Chart(horizontalBar, {
            type: 'bar',
            data: {
                labels: ['Toshkent', 'Andijon', 'Farg\'ona', 'Namangan', 'Samarqand', 'Navoiy', 'Qoraqalpoq', 'Jizzax', 'Sirdaryo', 'Xorazm', 'Buxoro', 'Surxandaryo'],
                datasets: [{
                    axis: 'y',
                    label: 'Mijozlar foizda',
                    data: [95, 80, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 10],
                    fill: false,
                    backgroundColor: [
                        '#8300C5'
                    ],
                    borderRadius: [8],
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y'
            }
        });
    }
}
</script>

<style scoped>

</style>
