<template>
    <div class="col-10">
        <div class="fw-bold mb-2">Mijozlar oqimi</div>
        <canvas id="tradeStatistics" width="500" height="200"></canvas>
    </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
    name: "ChartsCustomerFlow",
    mounted() {
        const tradeStatistics = document.getElementById('tradeStatistics')
        new Chart(tradeStatistics, {
            type: 'line',
            data: {
                labels: ['Yanvar', 'Fevral', 'Mart', 'Aprel', 'May', 'Iyun', 'Iyul', 'Avgust', 'Sentabr', 'Oktabr', 'Noyabr', 'Dekabr'],
                datasets: [
                    {
                        label: 'Cubic interpolation (monotone)',
                        data: [560, 180, 370, 860, 250, 445, 350, 245, 140, 315, 130, 215, 120, 950],
                        borderColor: 'red',
                        fill: false,
                        cubicInterpolationMode: 'monotone',
                        tension: 0.4
                    }, {
                        label: 'Cubic interpolation',
                        data: [195, 760, 510, 415, 230, 215, 310, 615, 920, 135, 130, 251, 210, 110],
                        borderColor: 'blue',
                        fill: false,
                        tension: 0.4
                    }, {
                        label: 'Linear interpolation (default)',
                        data: [195, 810, 170, 615, 610, 551, 510, 145, 140, 315, 310, 251, 201, 110],
                        borderColor: '#00BA34',
                        fill: false
                    }
                ],
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: 'Chart.js Line Chart - Cubic interpolation mode'
                        },
                    },
                    interaction: {
                        intersect: false,
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Value'
                            },
                            suggestedMin: -10,
                            suggestedMax: 200
                        }
                    }
                },
            }
        });
    }
}
</script>

<style scoped>

</style>
