<template>
    <div>
        <div class="col-12 p-3 verticalBar mt-5">
            <div class="row justify-content-between">
                <div class="col-lg-3 fw-bold title">
                    Reja va to'lovlar
                </div>
                <div class="col-9 d-none d-lg-flex justify-content-end">
                    <div class="payment-box text-center">
                        <span class="stats__percent">100%<i class="fas fa-arrow-up"></i></span>
                        <div class="payment-box-title">Kutilayotgan to'lovlar</div>
                        <div class="unpaid">35 200 000 UZS</div>
                    </div>
                    <div class="payment-box ms-3 text-center">
                        <span class="stats__percent">125%<i class="fas fa-arrow-up"></i></span>
                        <div class="payment-box-title">To'lov qilingan</div>
                        <div class="paid">42 500 000 UZS</div>
                    </div>
                    <!-- SELECT START -->
                    <div class="aselect" :data-value="value" :data-list="list">
                        <div class="selector" @click="toggle()">
                            <div class="label">
                                <span>{{ value }}</span>
                            </div>
                            <div class="arrow" :class="{ expanded : visible }"></div>
                            <div :class="{ hidden : !visible, visible }">
                                <ul>
                                    <li :class="{ current : item === value }" v-for="item in list" :key="item" @click="select(item)">{{ item }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- SELECT END -->
                </div>
            </div>
            <canvas class="mt-3 payment-chart" id="verticalBar" width="400" height="120"></canvas>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js/auto';

export default {
    name: "ChartsPageChild3",
    data() {
        return {
            value: '2022',
            list: ["2022","2021","2020", "2019", "2018"],
            visible: false
        }
    },
    methods: {
        toggle() {
            this.visible = !this.visible;
        },
        select(option) {
            this.value = option;
        }
    },
    mounted() {
        const verticalBar = document.getElementById('verticalBar')
        new Chart(verticalBar, {
            type: 'bar',
            data: {
                labels: ['Yanvar', 'Fevral', 'Mart', 'Aprel', 'May', 'Iyun', 'Iyul', 'Avgust', 'Sentabr', 'Oktabr', 'Noyabr', 'Dekabr'],
                datasets: [
                    {
                        label: 'Kutilayotgan to\'lovlar',
                        data: [25000000, 28000000, 35000000, 33000000, 25000000, 28000000, 35000000, 33000000, 25000000, 28000000, 35000000, 33000000, 27000000, 25000000],
                        borderColor: '#CB5BFF',
                        backgroundColor: '#CB5BFF',
                        borderWidth: 2,
                        borderRadius: 10,
                        borderSkipped: false,
                        axis: 'y',
                    },
                    {
                        label: 'To\'lov qilingan',
                        data: [35000000, 30000000, 32000000, 35000000, 35000000, 30000000, 32000000, 35000000, 35000000, 30000000, 32000000, 35000000, 30000000, 32000000],
                        borderColor: '#81EB4F',
                        backgroundColor: '#81EB4F',
                        borderWidth: 2,
                        borderRadius: 10,
                        borderSkipped: false,
                        axis: 'y',
                    },
                ]
            }
        });
    }
}
</script>

<style scoped>
.payment-box {
    border-radius: 10px;
    padding: 15px 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.30);
    user-select: none;
    cursor: pointer;
}

.payment-box-title {
    color: #979797;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.unpaid {
    color: #CB5BFF;
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.paid {
    color: #48b910;
    margin: 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.stats__percent {
    font-size: 11px;
    color: #48b910;
    background: none;
    position: absolute;
    margin: -8px 0 0 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.fa-arrow-up {
    color: #48b910;
    font-size: 8px;
    position: relative;
    bottom: 7px;
}

.aselect {
    width: 150px;
    margin-left: 1rem;

}

.selector {
    border: 1px solid gainsboro;
    border-radius: 7px;
    background: #F8F8F8;
    position: relative;
    z-index: 1;
}

.arrow {
    position: absolute;
    right: 15px;
    top: 40%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #888;
    transform: rotateZ(0deg) translateY(0px);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.59,1.39,.37,1.01);
}

.expanded {
    transform: rotateZ(180deg) translateY(2px);
}

.label {
    display: block;
    padding: 9px 13%;
    font-size: 16px;
    color: #888;
    user-select: none;
    cursor: pointer;
}

ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border: 1px solid gainsboro;
    position: absolute;
    z-index: 1;
    background: #fff;
    user-select: none;
}

li {
    padding: 12px;
    color: #666;
}

li:hover {
     color: white;
     background: #6f42c1;
}

.current {
    background: #eaeaea;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
</style>
