<template>
    <div class="col-md-7 bar">
        <div class="title fw-bold mb-2">Mijozlar miqdorda</div>
        <canvas id="bar" width="150" height="100"></canvas>
    </div>
</template>

<script>
import Chart from 'chart.js/auto';

export default {
    name: "ChartsPageChild1",
    mounted() {
        const bar = document.getElementById('bar')
        new Chart(bar, {
            type: 'bar',
            data: {
                labels: ['Toshkent', 'Andijon', 'Farg\'ona', 'Namangan', 'Samarqand', 'Navoiy', 'Qoraqalpoq', 'Jizzax', 'Sirdaryo', 'Xorazm', 'Buxoro', 'Surxandaryo'],
                datasets: [{
                    axis: 'y',
                    label: 'Mijozlar miqdorda',
                    data: [115, 105, 95, 90, 80, 70, 60, 50, 40, 35, 30, 25, 20, 10],
                    fill: false,
                    backgroundColor: [
                        '#8300C5'
                    ],
                    borderWidth: 1
                }]
            }
        });
    }
}
</script>

<style scoped>
</style>
