<template>
    <div class="col-3">
        <div class="fw-bold mb-2">Desktop browser</div>
        <canvas id="desktopBrowser" width="400" height="100"></canvas>
    </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
    name: "ChartsDesktopBrowser",
    mounted() {
        const desktopBrowser = document.getElementById('desktopBrowser')
        new Chart(desktopBrowser, {
            type: 'pie',
            data: {
                labels: [
                    'Red',
                    'Blue',
                    'Yellow'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [300, 50, 100],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        });
    }
}
</script>

<style scoped>

</style>