<template>
    <div class="col-10">
        <div class="fw-bold mb-2">Mijozlar oqimi turi</div>
        <canvas id="typeCustomerFlow" width="400" height="200"></canvas>
    </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
    name: "ChartsTypeCustomerFlow",
    mounted() {
        const typeCustomerFlow = document.getElementById('typeCustomerFlow')
        new Chart(typeCustomerFlow, {
            type: 'bar',
            data: {
                labels: ['Target', 'Manager orqali', 'O\'zi topib kirgan', 'Taklif orqali'],
                datasets: [
                    {
                        label: ['Instagram'],
                        backgroundColor: ['#FF54CF', '#00BEB3', '#00F527', '#3B31B9'],
                        data: [300, 200, 100, 300],
                        borderRadius: 30,
                        borderSkipped: false,
                    },
                    {
                        label: ['Facebook'],
                        backgroundColor: ['#005CB0'],
                        data: [200],
                        borderRadius: 30
                    }
                ]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart - Stacked'
                    },
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });
    }
}
</script>

<style scoped>

</style>
