<template>
    <!--  CONFIRM MODAL START  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Saqlashni tasdiqlang</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
                    <button type="button" class="btn btn-primary">Tasdiqlash</button>
                </div>
            </div>
        </div>
    </div>
    <!--  CONFIRM MODAL END  -->

    <div class="dialog" v-show="show" @click.stop="hideDialog">
        <div @click.stop class="dialog__content">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <div class="title">Mijoz bilan bog'lanish</div>
                        <button type="button" @click="hideFormModal" class="btn-close m-4" aria-label="Close"></button>
                    </div>
                    <div class="underline"></div>
                    <form class="row row-padding">
                        <div class="col-4 manual-padding">
                            <label for="connect-type-select" class="select-title">Bog'lanish turi</label>
                            <div class="selected"> {{ this.connectionType }} </div>
                            <select
                                id="connect-type-select"
                                v-model="connectionType"
                                class="form-select"
                                size="5"
                                aria-label="size 5 select example"
                            >
                                <option value="Telefon orqali" selected>Telefon orqali</option>
                                <option value="Telegram orqali">Telegram orqali</option>
                                <option value="Facebook (messenger)">Facebook (messenger)</option>
                                <option value="Instagram (messenger)">Instagram (messenger)</option>
                            </select>
                        </div>
                        <div class="col-4 manual-padding">
                            <label for="status-type-select" class="select-title">Status</label>
                            <div class="selected"> {{ this.statusType }} </div>
                            <select
                                id="status-type-select"
                                v-model="statusType"
                                class="form-select"
                                size="5"
                                aria-label="size 5 select example"
                            >
                                <option value="O'ylab ko'raman" selected>O'ylab ko'raman</option>
                                <option value="O'zim aloqaga chiqaman">O'zim aloqaga chiqaman</option>
                                <option value="Menedjer kerak">Menedjer kerak</option>
                                <option value="Yoqmadi">Yoqmadi</option>
                                <option value="Ishlatishni boshladi">Ishlatishni boshladi</option>
                            </select>
                        </div>
                        <div class="col-4 manual-padding">
                            <label for="add-info-textarea" class="form-label select-title">Qo'shimcha ma'lumot</label>
                            <textarea class="form-control comment-textarea" id="add-info-textarea" maxlength="290"></textarea>
                        </div>
                        <div class="col-4 manual-padding">
                            <button
                                @click.prevent
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                class="btn btn-primary py-2 w-100"
                            >
                                Saqlash
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ConnectWithClientFormModal",
    data() {
        return {
            connectionType: 'Telefon orqali',
            statusType: 'O\'ylab ko\'raman',
            isClose: true
        }
    },
    props: {
        show: {
            type: Boolean,
            default: false
        },
        hideFormModal: {
            type: Function,
        }
    },
    methods: {
        hideDialog() {
            this.$emit('update:show', false)
        }
    }
}
</script>

<style scoped>
    .dialog {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 5;
        display: flex;
    }

    .dialog__content {
        margin: auto;
        background: white;
        border-radius: 8px;
        width: 1126px;
        height: 656px;
    }

    .title {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin: 20px;
    }

    .underline::after {
        display: block;
        content: "";
        background-color: rgba(63, 59, 59, 0.25);
        width: 100%;
        height: 2px;
        margin-bottom: 20px;
    }

    .select-title {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #8C8C8C;
    }

    .selected {
        margin: 4px 0;
        padding: 5px 15px;
        border: 1px solid #dee2e6;
        border-radius: 0.375rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .form-select {
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .form-select option {
        padding: 3px;
    }

    .manual-padding {
        padding: 20px;
    }

    .comment-textarea {
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        height: 183px;
        resize: none;
        padding: 5px 15px;
        border: 1px solid #dee2e6;
        border-radius: 0.375rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .comment-textarea:focus {
        outline: none;
    }

    .comment-textarea::-webkit-scrollbar-thumb {
        background: #ffffff00;
    }

    .comment-textarea::-webkit-scrollbar-track {
        background: #ffffff00;
    }

    .comment-textarea::-webkit-scrollbar {
        width: 0;
    }

    .row-padding {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
    }

    .btn-primary {
        background: #6f42c1;
        border: none;
    }

    .btn-primary:active, .btn-primary:hover {
        background: #5630a1;
    }
</style>
