<template>
    <div class="dialog" v-show="show" @click.stop="hideDialog">
        <div @click.stop class="dialog__content">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <div class="title">Mijoz bilan bog'lanish tarixi</div>
                        <button @click="hideHistoryModal" aria-label="Close" class="btn-close m-4" type="button"></button>
                    </div>
                    <div class="underline"></div>
                    <div class="manual-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Bog'lanish turi</th>
                                <th scope="col">Bog'langan sana/vaqt</th>
                                <th scope="col">Status</th>
                                <th scope="col">Qo'shimcha malumot</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Telefon orqali</td>
                                    <td>06.01.2023, 09:35</td>
                                    <td>O’zim aloqaga....</td>
                                    <td>Youtubdan video link bering....</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Telefon orqali</td>
                                    <td>03.01.2023, 12:45</td>
                                    <td>Ishlatamiz deyishdi</td>
                                    <td>Youtubdan video link bering....</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Telegram orqali</td>
                                    <td>31.01.2023, 17:00</td>
                                    <td>O'ylab ko'radi</td>
                                    <td>...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ConnectionWithClientHistoryModal",
    props: {
        show: {
            type: Boolean,
            default: false
        },
        hideHistoryModal: {
            type: Function,
        }
    },
    methods: {
        hideDialog() {
            this.$emit('update:show', false)
        }
    }
}
</script>

<style scoped>
.dialog {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    display: flex;
}

.dialog__content {
    margin: auto;
    background: white;
    border-radius: 8px;
    width: 1126px;
    height: 500px;
    max-height: 80%;
    overflow: hidden;
    overflow-y: auto;
}

.dialog__content::-webkit-scrollbar-thumb {
    background: #6f42c1;
    border-radius: 2px;
}

.dialog__content::-webkit-scrollbar-track {
    background: rgb(235, 226, 227);
}

.dialog__content::-webkit-scrollbar {
    width: 5px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 20px;
}

.underline::after {
    display: block;
    content: "";
    background-color: rgba(63, 59, 59, 0.25);
    width: 100%;
    height: 2px;
}

.manual-padding {
    padding: 35px;
}
</style>