<template>
    <!-- NAVIGATOR START -->
    <div class="horizontal-navigation">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link to="/">Bosh sahifa</router-link>
                </li>
                <li class="breadcrumb-item breadcrumb-item_active">
                    {{ breadcrumb }}
                </li>
            </ol>
        </nav>
    </div>
    <!-- NAVIGATOR END -->

    <!-- TITLE START -->
    <div class="content-title">Barcha mijozlar<span class="client_quantity">834</span></div>
    <!-- TITLE END -->

    <!-- STATS-CARD START -->
    <div class="text-center px-3">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4">
            <div class="stats"><div class="col stats__card stats__card_gradient">
                    <div class="stats__quantity">834
                        <span class="stats__percent">+ 4%<i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stats__title">Ro'yxatdan o'tganlar soni</div>
                </div>
            </div>
            <div class="stats">
                <div class="col stats__card stats__card_gradient">
                    <div class="stats__quantity">345
                        <span class="stats__percent">+ 14%<i class="fas fa-arrow-up"></i></span>
                    </div>
                    <div class="stats__title">Aloqaga chiqilganlar</div>
                </div>
            </div>
            <div class="stats">
                <div class="col stats__card stats__card_gradient">
                    <div class="stats__quantity">525</div>
                    <div class="stats__title">Javob bermagan</div>
                </div>
            </div>
            <div class="stats">
                <div class="col stats__card stats__card_gradient">
                    <div class="stats__quantity">247</div>
                    <div class="stats__title">Qayta chiqamiz deyishdi</div>
                </div>
            </div>
        </div>
    </div>
    <!-- STATS-CARD END -->

    <!-- EXPORT-FILTER-BTN START -->
    <div class="export-filter-btns-row d-flex justify-content-end">
        <button class="btn-export"><img class="me-1" src="/svg/export_icon.svg" alt="" />Eksport</button>
        <button class="btn-filter"><img class="me-2" src="/svg/filter_icon.svg" alt=""/>Filter</button>
    </div>
    <!-- EXPORT-FILTER-BTN END -->
</template>

<script>
import toggleMixin from "@/mixin/toggleMixin";

export default {
    name: "NavigatorRow",
    mixins: [toggleMixin],
    computed: {
        breadcrumb() {
            for (const page of this.pages) {
                if (page.url === this.$route.path) {
                    return page.name;
                }
            }
            return '/';
        }
    },
    watch: {
        '$route.path'() {
            console.log(this.breadcrumb);
        }
    }
}
</script>

<style scoped>
.horizontal-navigation {
    background-color: #e9ecef;
    border-radius: 6px;
    margin: 4px 0;
}

.breadcrumb-item {
    color: #7e7e7e;
}

.breadcrumb-item:hover {
    color: #6f42c1;
}

.breadcrumb-item_active {
    color: #6f42c1;
}

.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0;
    padding: 10px;
}

.content-title {
    color: #7e7e7e;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 20px 0;
}

.content-title::after {
    display: block;
    content: "";
    background-color: #d0d0d0;
    width: 250px;
    height: 2px;
    margin: 3px 0 20px -19px;
}

.client_quantity {
    color: #8d8d8d;
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-weight: 400;
    position: relative;
    bottom: 14px;
}

.stats {
    padding: 12px;
}

.stats__card {
    padding: 8px;
    border: 1px solid #ebebeb;
    height: 155px;
    filter: drop-shadow(0px 5px 7px rgba(53, 53, 53, 0.25));
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
}

.stats__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 100%;
    background-image: linear-gradient(to left, #ffffff40, #ffffff20);
    opacity: 0.8;
    transform: translateX(-15em) skewX(-45deg);
}

.stats__card:hover::before {
    animation: movelight 0.5s;
}

@keyframes movelight {
    from {
        transform: translateX(-15em) skewX(-45deg);
    }
    to {
        transform: translateX(35em) skewX(-45deg);
    }
}

.stats__card div,
span {
    font-family: "Roboto", sans-serif;
}

.stats__title {
    font-weight: 400;
    font-size: 17px;
    color: #8c8c8c;
    text-transform: uppercase;
}

.stats__quantity {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #6f42c1;
    margin-top: 15px;
}

.stats__percent {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    position: absolute;
    bottom: 105px;
    right: 10%;
    width: 64px;
    height: 32px;
    background: #6f42c1;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.fa-arrow-up {
    color: #fff;
    font-size: 9px;
    position: relative;
    bottom: 10px;
}

.stats__card_gradient {
    background-image: linear-gradient(120deg, #fcfcfc 40%, #ffffff 100%);
}

.stats__card_gradient:hover {
    background-image: linear-gradient(120deg, #8156d0 40%, #794ccb 100%);
}

.stats__card_gradient:hover > .stats__title {
    color: #fff;
}

.stats__card_gradient:hover > .stats__quantity {
    color: #fff;
}

.stats__card_gradient:hover > .stats__quantity > .stats__percent {
    color: #7b007d;
    background: #fff;
}

.stats__card_gradient:hover > .stats__quantity > .stats__percent > .fa-arrow-up {
    color: #7b007d;
}

.export-filter-btns-row {
    margin: 45px 0 20px;
}

.btn-export {
    font-family: "Rubik", serif;
    background-color: transparent;
    font-weight: 500;
    font-size: 15px;
    color: #6f42c1;
    border: 2px solid #6f42c1;
    border-radius: 5px;
    padding: 7px 15px;
    margin-right: 15px;
    width: 128px;
}

.btn-filter {
    font-family: "Rubik", serif;
    background-color: #6f42c1;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    border: 2px solid #6f42c1;
    border-radius: 5px;
    padding: 7px 15px;
    width: 128px;
}
</style>
