<template>
    <!-- PAGINATION START -->
    <div class="my-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link disabled" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li
                        v-for="page in this.pages"
                        :key="page.id"
                        class="page-item"
                >
                    <router-link
                            class="page-link"
                            :class="{'active': pageNumber === page.id}"
                            :to="page.url"
                            @click="changePage(page.id)"
                    >
                        {{ page.id }}
                    </router-link>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- PAGINATION END -->
</template>

<script>
import toggleMixin from "@/mixin/toggleMixin";

export default {
    name: "PaginationRow",
    data() {
        return {
            pageNumber: 1
        }
    },
    methods: {
        changePage(page) {
            this.pageNumber = page
        }
    },
    mixins: [toggleMixin]
}
</script>

<style scoped>
    .page-link.active {
        background: #6f42c1;
        border-color: #6f42c1;
        color: #fff;
    }

    .page-link {
        color: #6f42c1;
    }
</style>
