<template>
    <div class="col-3 col-xl-2 sidebar">
        <div class="sidebar__title">Admin</div>
        <div class="sidebar__item">
            <div id="accordionFlushExample" class="accordion accordion-flush">
                <div class="accordion-item" style="background-color: #6f42c1">
                    <h2 class="accordion-header">
                        <button
                                aria-controls="flush-collapseOne"
                                aria-expanded="false"
                                class="accordion-button collapsed main"
                                data-bs-target="#flush-collapseOne"
                                data-bs-toggle="collapse"
                                style="background-color: #6f42c1"
                                type="button"
                        >
                            Asosiy
                        </button>
                        <div class="main__underline"></div>
                    </h2>
                    <div
                            id="flush-collapseOne"
                            class="accordion-collapse collapse show"
                            data-bs-parent="#accordionFlushExample"
                    >
                        <div
                                v-for="page in pages"
                                :key="page.id"
                                class="accordion-body"
                        >
                            <ul>
                                <router-link :to="page.url">
                                    <li
                                            :class="{'main__item_active': pageNumber === page.id}"
                                            class="main__item"
                                            @click="changePage(page.id)"
                                    >
                                        {{ page.name }}
                                    </li>
                                </router-link>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import toggleMixin from "@/mixin/toggleMixin";

export default {
    name: "SidebarRow",
    data() {
        return {
            pageNumber: 1
        }
    },
    mixins: [toggleMixin],
    methods: {
        changePage(page) {
            this.pageNumber = page
        }
    }
}
</script>

<style scoped>
.sidebar {
    padding: 40px 20px;
    background-color: #6f42c1;
    height: 100vh;
    position: fixed;
}

.sidebar__title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    user-select: none;
    cursor: pointer;
}

.accordion-button {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.main {
    display: block;
    text-transform: uppercase;
}

.main__underline::after {
    display: block;
    content: "";
    background-color: rgba(229, 229, 229, 0.22);
    width: 100%;
    height: 1px;
    margin-top: 3px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #edc661;
    background-color: #edc661;
    box-shadow: none;
}

.main__item {
    margin-bottom: 10px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
}

.main__item:hover {
    color: #edc661;
}

.main__item_active {
    color: #edc661;
}

.main__item::after {
    display: block;
    content: "";
    background-color: rgba(229, 229, 229, 0.22);
    width: 100%;
    height: 1px;
    margin-top: 7px;
}
</style>
