<template>
  <div class="container-fluid">
    <div class="row">
      <SidebarRow/>
      <div class="col-9 col-xl-10 all-customer">
        <div class="row">
          <div class="col-12">
            <NavigatorRow/>
            <router-view/>
            <PaginationRow/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import SidebarRow from "@/components/SidebarRow.vue";
import NavigatorRow from "@/components/NavigatorRow.vue";
import PaginationRow from "@/components/PaginationRow.vue";

export default {
  name: 'App',
  components: {PaginationRow, NavigatorRow, SidebarRow}
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

* {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.all-customer {
  margin-left: 16.6666667%;
}

@media (max-width: 1199.98px) {
  .all-customer {
    margin-left: 25%;
  }
}
</style>
